* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color: #8B4513; 
    color: white;
    padding: 1% 0;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0 auto;
    padding: 0 5%;
}

.logo {
    font-size: 150%;
    font-weight: bold;
}

.nav-links {
    display: flex; 
}



.nav-links a {
    margin-left: 5%;
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #FFD700; 
}


main {
    margin-top: 10%; 
    margin-left: auto;
    margin-right: auto;
    padding: 0 5%;
}

footer {
    background-color: #2e2e2e;
    color: white;
    padding: 4% 0 0;
}

.footer-content {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 5%;
}


.footer-links a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin-bottom: 2%; 
}

.footer-links a:hover {
    color: white;
}

.footer-contacts p {
    margin-bottom: 2%;
    color: #ccc;
}

.footer-bottom {
    text-align: center;
    padding: 2% 0; 
    margin-top: 4%; 
    border-top: 1px solid #535353;
    color: #cccccc;
}
.top{
    margin: 0 auto;
    background-color: #8B4513; 
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.top-content{   
color: rgb(255, 255, 255);
padding-top: 2%;
width: 40%;
}
.top-subtitle{
    padding-top: 3%;
    text-align: center;
}
.top-buttons{
    padding-top: 5%;
    display: flex;
    justify-content: center;
}
.primary{
    font-size: 130%;
    background-color: #FFD700;
    color: #8B4513;
    padding: 1.3% 3%;
    margin: 0 1%;
}
.secondary{
    font-size: 120%;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 1.4% 2%;
    margin: 0 1%;
}
.top-buttons a:hover{
    color:rgb(46, 45, 19)
}
.cheese{
    color: #fcce00;
}
.about{
    display: flex;
    justify-content: center;
}